.navbar-eyas{
  background-color: #666;
  border-radius: 0;
  margin: 0;
  border: 0;
  :global(ul.navbar-nav){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
  }
  li{
    line-height: 50px;
    height: 50px;
    a{
      color: #fff;
      padding-top: 15px;
      padding-bottom: 15px;
      &:hover,&:focus{
        background: #555;
      }
    }
    :global(.active){
      background: #555;
    }
  }
}
.goback{
  float: left;
  cursor: pointer;
}