<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%- body %>
    <!--SCRIPTS-->
    <script src="/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
