.brand{
  min-height: 250px;
  width: 100%;
  background: #555;
  padding:50px;
  text-align: center;
}
.brand-inner{
  color: #eee;
}
.title{
  font-size: 5em;
  margin-bottom: 20px;
}
.description{
  font-size: 2em;
}